# General Lua files as UTF-8
share/locale/english/*/locale.lua text working-tree-encoding=utf-8 eol=lf
share/locale/english/*/translate.lua text working-tree-encoding=utf-8 eol=lf

# Central European (Czech, Hungarian, Polish, Romanian)
share/locale/english/*/locale_cz.lua text working-tree-encoding=windows-1252 eol=lf
share/locale/english/*/translate_cz.lua text working-tree-encoding=windows-1252 eol=lf
share/locale/english/*/locale_hu.lua text working-tree-encoding=windows-1250 eol=lf
share/locale/english/*/translate_hu.lua text working-tree-encoding=windows-1250 eol=lf
share/locale/english/*/locale_pl.lua text working-tree-encoding=windows-1250 eol=lf
share/locale/english/*/translate_pl.lua text working-tree-encoding=windows-1250 eol=lf
share/locale/english/*/locale_ro.lua text working-tree-encoding=windows-1250 eol=lf
share/locale/english/*/translate_ro.lua text working-tree-encoding=windows-1250 eol=lf

# Western (German, Danish, Spanish, French, Italian, Dutch, Portuguese)
share/locale/english/*/locale_{de,dk,es,fr,it,nl,pt}.lua text working-tree-encoding=windows-1252 eol=lf
share/locale/english/*/translate_{de,dk,es,fr,it,nl,pt}.lua text working-tree-encoding=windows-1252 eol=lf

# Specialized Encodings
share/locale/english/*/locale_ae.lua text working-tree-encoding=windows-1256 eol=lf
share/locale/english/*/translate_ae.lua text working-tree-encoding=windows-1256 eol=lf
share/locale/english/*/locale_gr.lua text working-tree-encoding=windows-1253 eol=lf
share/locale/english/*/translate_gr.lua text working-tree-encoding=windows-1253 eol=lf
share/locale/english/*/locale_ru.lua text working-tree-encoding=windows-1251 eol=lf
share/locale/english/*/translate_ru.lua text working-tree-encoding=windows-1251 eol=lf
share/locale/english/*/locale_tr.lua text working-tree-encoding=windows-1254 eol=lf
share/locale/english/*/translate_tr.lua text working-tree-encoding=windows-1254 eol=lf